---
link_ru: /contact.html
link_en: /en/contact.html
title: Muloqat – OrientalRoadTour.uz
page: contact
---
extends includes/_page

block main

    main.oriental--site-main

        .oriental--site-hero.inner-page.bg-light(style="background-image: url('../assets/images/contact_1.jpg')")

            .container
                .row.align-items-center

                    .col-md-9
                        .site-hero-contents(data-aos='fade-up')
                            h1.hero-heading Bizga qo'ng'iroq qiling
                            .sub-text.w-75
                                p Biz doimo aloqadamiz

        .oriental--site-section

            .container
                .row

                    .col-12(data-aos='fade-up')

                        h2.display-4.mb-5 Shaklni to'ldiring

                    .col-md-6.mb-5.mb-md-0(data-aos='fade-up' data-aos-delay='100')
                        form(action='#')
                            .form-group
                            label(for='name') Sizning ismingiz *
                            input#name.form-control(type='text' required)
                            .form-group
                            label(for='email2') Sizning elektron manzilingiz *
                            input#email2.form-control(type='text' required)
                            .form-group
                            label(for='subject') Xabar mavzusi
                            input#subject.form-control(type='text')
                            .form-group
                            label(for='message') Xabar *
                            textarea#message.form-control(name='message' cols='30' rows='10' required)
                            .form-group
                            input.btn.btn-black.px-5.text-white(type='submit' value='Yuborish')
                            span.notify-under-btn * Tugmani bosish orqali siz shaxsiy ma'lumotlaringizni qayta ishlashga rozilik bildirasiz.

                    .col-md-4.ml-auto(data-aos='fade-up' data-aos-delay='200')
                        .media-29190
                            span.label Elektron manzil
                            p
                                a(href='mailto:orientalroadtour@gmail.com') orientalroadtour@gmail.com
                        .media-29190
                            span.label Telefon raqami
                            p
                                a(href='tel:+998915592322') +998 (91) 559-23-22
                        .media-29190
                            span.label Manzil
                            p Oʻzbekiston, Samarqand, 140100, Abdurahmon Jomiy, Amir Shohmurod koʻchasi, 16
                        .media-29190
                            span.label Ijtimoiy tarmoqlar
                            ul.icons-top.icons-dark
                                li
                                    a(href='https://t.me/Orientalroadtour' target='_blank')
                                        span.icon-telegram
                                li
                                    a
                                        span.icon-facebook
                                li
                                    a
                                        span.icon-instagram