---
link_ru: /tour.html
link_en: /en/tour.html
title: O'zbekiston turlari – OrientalRoadTour.uz
page: tour
---
extends includes/_page

block main

    main.oriental--site-main

        .oriental--site-hero.inner-page(style="background-image: url('../assets/images/tours_img_1.jpg')")

            .container
                .row.align-items-center.justify-content-center
                    .col-md-7.text-center
                        .site-hero-contents(data-aos='fade-up')
                            h1.hero-heading.text-white O'zbekiston turlari

        .oriental--site-section.pb-0

            .container-fluid.px-md-0
                .row.justify-content-center.text-center.site-section.pt-0

                    .col-md-6
                        h2.display-4(data-aos='fade-up') Qadimgi shaharga sayohat
                        p(data-aos='fade-up' data-aos-delay='100') Samarqand, Buxoro, Xiva, Shahrisabz kabi qadimiy shaharlarga tashrif buyurish mumkin.

                .row.no-gutters.align-items-stretch.room-animate.site-section

                    .col-md-7.img-wrap(data-jarallax-element='-100')
                        .bg-image.h-100(style="background-color: #efefef; background-image: url('../assets/images/slider_1.jpg');")

                    .col-md-5
                        .row.justify-content-center

                            .col-md-8.py-5
                                h3.display-4.heading Samarqand
                                .room-exerpt
                                    .room-price.mb-4
                                    p Samarqand! Dunyoning eng qadimiy shaharlaridan biri, jahon sivilizatsiyasi beshigi, Rim, Fiva, Afina bilan tengdosh, qadimiy So‘g‘diyona va Amir Temur saltanatining poytaxti. “Qadimgi Sharq jannati”, “Yer yuzi”, “Musulmon olamining gavhari” – qadimgi va zamonaviy mualliflar Samarqandni shunday atashadi.
                                    p  Samarqand, Oʻzbekistonning markaziy-sharqiy qismida joylashgan shahar, Markaziy Osiyodagi eng qadimiy shaharlardan biri va Oʻzbekistonning Toshkentdan keyingi ikkinchi yirik shahri. Samarqand Xitoyga boradigan asosiy savdo yoʻllaridan birida joylashganligi uchun ming yillar davomida gullab-yashnagan. Bu mashhur shaharning nomlari shunchalik ko'pki, ular odamlarning unga bo'lgan munosabatini tasvirlab bera oladilar: Dunyo ko'zgusi, Islom xazinasi, qalb bog'i, olam markazi.
                                    button.btn.btn--action.tour-sec(data-set="Samarqand") BRON QILISH

            .container-fluid.px-md-0
                .row.no-gutters.align-items-stretch.room-animate.site-section

                    .col-md-7.order-md-2.img-wrap(data-jarallax-element='-100')
                        .bg-image.h-100(style="background-color: #efefef; background-image: url('../assets/images/bukhara_image_1.jpg');")

                    .col-md-5
                        .row.justify-content-center

                            .col-md-8.py-5
                                h3.display-4.heading Buxoro
                                .room-exerpt
                                    .room-price.mb-4
                                    p Sanskrit tilida Buxoro soʻzi “monastir” degan maʼnoni anglatadi va bu shahar bir vaqtlar Buyuk Ipak yoʻlidagi yirik savdo markazi boʻlgan. Buxoro haqida ilk bor Xitoy yilnomalarida V asr boshlarida tilga olingan. Markaziy Osiyodagi eng qadimiy savdo va madaniyat markazlaridan biri.
                                    p  Shaharning o‘ziga fors shahzodasi asos solgan va u yerda qal’a qurdirgan, shundan so‘ng u Samarqandda Afrosiyobning qiziga uylangan. Ammo shaharning o'sishi ko'p jihatdan uning strategik joylashuviga bog'liq edi.
                                    button.btn.btn--action.tour-sec(data-set="Buxoro") BRON QILISH

            .container-fluid.px-md-0
                .row.no-gutters.align-items-stretch.room-animate.site-section

                    .col-md-7.img-wrap(data-jarallax-element='-100')
                        .bg-image.h-100(style="background-color: #efefef; background-image: url('../assets/images/khiva_image_1.jpg');")

                    .col-md-5
                        .row.justify-content-center

                            .col-md-8.py-5
                                h3.display-4.heading Xiva
                                .room-exerpt
                                    .room-price.mb-4
                                    p Xorazm Amudaryoning quyi oqimida cheksiz Qizilqum va Qoraqum choʻllari oraligʻida joylashgan. Xorazm qadimiy sivilizatsiyaning vatani hisoblanadi. 10-asrdan boshlab Xorazm yirik iqtisodiy, madaniy va ilmiy markazga aylandi.
                                    p Xiva Xorazmning yuksalishi va qulashiga guvoh bo‘lgan dunyodagi eng qadimiy shaharlardan biridir. Qadimgi Xivaning soʻnggi koʻrinishi 17-asr oxiri 19-asr boshlarida shakllangan. Xiva ikki qismdan iborat: Ichan-qal'a (ichki qal'a) va Dishon qal'a (tashqi qal'a).
                                    button.btn.btn--action.tour-sec(data-set="Xiva") BRON QILISH

            .container-fluid.px-md-0
                .row.no-gutters.align-items-stretch.room-animate.site-section.pb-0

                    .col-md-7.order-md-2.img-wrap(data-jarallax-element='-100')
                        .bg-image.h-100(style="background-color: #efefef; background-image: url('../assets/images/shakhrisabz_image_1.jpg');")

                    .col-md-5
                        .row.justify-content-center

                            .col-md-8.py-5
                                h3.display-4.heading Shahrisabz
                                .room-exerpt
                                    .room-price.mb-4
                                    p Shahrisabz Markaziy Osiyodagi eng qadimiy shaharlardan biri boʻlib, uning yoshi taxminan 2700 yil. O'rta asrlarda u Kesh nomi bilan mashhur edi. Kesh 8-asrda Mukannaning arablarga qarshi qoʻzgʻolonini zararsizlantirish paytida sezilarli darajada vayron qilingan. 11-12 asrlarda Qoraxoniylar davrida Kesh islom madaniyatining yirik shahri sifatida vayron qilingan.
                                    p Shahrisabz Samarqanddan 160 km uzoqlikda, Pomir togʻ etaklari bilan oʻralgan kichik vodiyda joylashgan. Bu shahar Amir Temurning tug‘ilgan joyi hisoblanadi.
                                    button.btn.btn--action.tour-sec(data-set="Shahrisabz") BRON QILISH

        .oriental--site-section.py-5.bg-body-darker.cta.mt-5
            .container
                .row
                    .col-12.text-center
                        h3.m-0.p-0 Agar sizda biron bir maxsus so'rov bo'lsa, bizga qo'ng'iroq qiling.
                        a(href='tel:+998915592322') +998 (91) 559-23-22