//- Footer

.container

    .row

        .col-md-4.pr-md-5

            h3 Oriental Road Tour
            p  Biz O'zbekiston bo'ylab eksklyuziv moslashtirilgan turlarga ixtisoslashgan yetakchi hashamatli turoperatormiz.

        .col-md-8.ml-auto
            .row
                .col-md-3

                    h3 Navigatsiya
                    ul.list-unstyled
                        li
                            a(href='/orientalroadtour/uz') Asosiy
                        li
                            a(href='/orientalroadtour/uz/about.html') Biz haqimizda
                        li
                            a(href='/orientalroadtour/uz/tour.html') Turlar
                        li
                            a(href='/orientalroadtour/uz/gallery.html') Galereya
                        li
                            a(href='/orientalroadtour/uz/contact.html') Muloqat

                .col-md-9.ml-auto

                    .row.mb-3

                        .col-md-6
                            h3 Manzil
                            address Oʻzbekiston, Samarqand, 140100, Abdurahmon Jomiy, Amir Shohmurod koʻchasi, 16

                        .col-md-6
                            h3 Muloqat
                            p
                            a(href='tel:+998915592322') +998 (91) 559-23-22
                            p
                            a(href='mailto:orientalroadtour@gmail.com') orientalroadtour@gmail.com

    .row.mt-5.pt-5.align-items-center

        .col-md-6.text-md-left
            p
                | Copyright &copy; 2021
                a(href='/uz')  OrientalRoadTour.uz
                | . All rights reserved.

        .col-md-6.text-md-right
            ul.icons-top.icons-dark
                li
                    a(href='https://t.me/Orientalroadtour' target='_blank')
                        span.icon-telegram
                li
                    a
                        span.icon-facebook
                li
                    a
                        span.icon-instagram