//- Header

nav.oriental--site-nav.js-sticky-nav

    .container.d-flex.align-items-center

      .logo-wrap
        a.oriental--site-logo(href='/uz') Oriental Road Tour

      .site-nav-ul-wrap.text-center.d-none.d-lg-block
        ul.site-nav-ul.js-clone-nav
          li(class=(page === 'index' ? 'active' : undefined))
            a(href='/uz') Asosiy
          li(class=(page === 'about' ? 'active' : undefined))
            a(href='/uz/about.html') Biz haqimizda
          li(class=(page === 'tour' ? 'active' : undefined))
            a(href='/uz/tour.html') Turlar
          li(class=(page === 'gallery' ? 'active' : undefined))
            a(href='/uz/gallery.html') Galereya
          li(class=(page === 'contact' ? 'active' : undefined))
            a(href='/uz/contact.html') Muloqat

      .icons-wrap.text-md-right

        ul.icons-top.d-none.d-lg-block.js-clone-nav

          li
            a(href=link_ru || '/' title="Русский")
              img(src="../assets/images/ru.svg", alt="")

          li
            a
              img(src="../assets/images/uz.svg", alt="")

          li
            a(href=link_en || '/en' title="English")
              img(src="../assets/images/gb.svg", alt="")

        // Mobile Toggle
        a.d-block.d-lg-none.burger.js-menu-toggle(href='#' data-toggle='collapse' data-target='#main-navbar')
          span