---
link_ru: /contact.html
link_uz: /uz/contact.html
title: Контакты – OrientalRoadTour.uz
page: contact
---
extends includes/_page

block main

    main.oriental--site-main

        .oriental--site-hero.inner-page.bg-light(style='background-color: #fff;')

            .container
                .row.align-items-center

                    .col-md-9
                        .site-hero-contents(data-aos='fade-up')
                            h1.hero-heading Contact Us
                            .sub-text.w-75
                                p
                                    | Facilities provided may range from a modest-quality mattress in a small room to large suites with
                                    | bigger.

        .oriental--site-section

            .container
                .row

                    .col-12(data-aos='fade-up')

                        h2.display-4.mb-5 Fill the form

                    .col-md-6.mb-5.mb-md-0(data-aos='fade-up' data-aos-delay='100')
                        form(action='#')
                            .form-group
                            label(for='name') Your Name *
                            input#name.form-control(type='text')
                            .form-group
                            label(for='email2') Your Email *
                            input#email2.form-control(type='text')
                            .form-group
                            label(for='subject') Subject
                            input#subject.form-control(type='text')
                            .form-group
                            label(for='message') Message *
                            textarea#message.form-control(name='message' cols='30' rows='10')
                            .form-group
                            input.btn.btn-black.px-5.text-white(type='submit' value='Send')

                    .col-md-4.ml-auto(data-aos='fade-up' data-aos-delay='200')
                        .media-29190
                            span.label Email
                            p
                                a(href='#') info@Untree.co
                        .media-29190
                            span.label Phone
                            p
                                a(href='#') +30 931 3829 399
                        .media-29190
                            span.label Address
                            p 273 South Riverview Rd. New York, NY 10011
                        .media-29190
                            span.label Social
                            ul.icons-top.icons-dark
                                li
                                    a(href='#')
                                        span.icon-facebook
                                li
                                    a(href='#')
                                        span.icon-twitter
                                li
                                    a(href='#')
                                        span.icon-instagram
                                li
                                    a(href='#')
                                        span.icon-tripadvisor