---
title: Tour operator of Uzbekistan – OrientalRoadTour.uz
page: index
---
extends includes/_page

block main

    .oriental--site-main

        .owl-carousel.owl-hero

            .oriental--site-hero.overlay(style="background-image: url('../assets/images/slider_1.jpg')")
                .container
                    .row.align-items-center.justify-content-center
                        .col-md-8
                            .site-hero-contents.text-center(data-aos='fade-up')
                                h1.hero-heading Oriental Road Tour
                                .sub-text
                                    p EXCURSION TOURS IN UZBEKISTAN

                                button.btn.btn--action BOOK A TOUR

            .oriental--site-hero.overlay(style="background-image: url('../assets/images/slider_2.jpg')")
                .container
                    .row.align-items-center.justify-content-center
                        .col-md-7
                            .site-hero-contents.text-center(data-aos='fade-up')
                                h1.hero-heading Oriental travel through ancient cities

            .oriental--site-hero.overlay(style="background-image: url('../assets/images/slider_3.jpg')")
                .container
                    .row.align-items-center.justify-content-center
                        .col-md-10
                            .site-hero-contents.text-center(data-aos='fade-up')
                                h1.hero-heading Start your adventure with us!

        .oriental--site-section.float-left.pb-0.featured-rooms

            .container.pt-0.pb-5
                .row.justify-content-center.text-center
                    .col-lg-6.section-heading(data-aos='fade-up')
                        h3.text-center Tours

            .container-fluid.pt-5

                .suite-wrap.overlap-image-1

                    .suite

                        .image-stack

                            .image-stack-item.image-stack-item-top(data-jarallax-element='-50')
                                .overlay
                                img.img-fluid.pic1(src='../assets/images/img_1_a.jpg' alt='Image')

                            .image-stack-item.image-stack-item-bottom
                                .overlay
                                img.img-fluid.pic2(src='../assets/images/img_1_b.jpg' alt='Image')

                    .suite-contents(data-jarallax-element='50')

                        h2.suite-title Samarkand

                        .suite-excerpt
                            p
                                | Samarkand! One of the oldest cities in the world, the cradle of world civilization, the capital of ancient Sogdiana and the empire of Amir Temur, the same age as Rome, Thebes and Athens. "Eden of the Ancient East", "Face of the Earth", "Pearl of the Muslim World" - this is how ancient and modern authors call Samarkand.

                .suite-wrap.overlap-image-2
                    .suite
                        .image-stack
                            .image-stack-item.image-stack-item-top
                                .overlay
                                img.img-fluid.pic1(src='../assets/images/img_2_a.jpg' alt='Image')

                            .image-stack-item.image-stack-item-bottom(data-jarallax-element='-50')
                                .overlay
                                img.img-fluid.pic2(src='../assets/images/img_2_b.jpg' alt='Image')

                    .suite-contents(data-jarallax-element='50')
                        h2.suite-title Bukhara
                        .suite-excerpt.pr-5
                            p
                                | Sacred Bukhara - this is how the Uzbeks respectfully call this glorious city. An ancient belief says: a blessed light descends from the sky to all Muslim cities, and only over Bukhara it rises to the sky.


        .oriental--site-section
            .container
                .container.pt-0.pb-5
                    .row.justify-content-center.text-center
                        .col-lg-6.section-heading(data-aos='fade-up')
                            h3.text-center Our advantages

                .row.custom-row-02192.align-items-stretch

                    .col-md-6.col-lg-4.mb-5(data-aos='fade-up' data-aos-delay='100')
                        .media-29191.text-center.h-100
                            .media-29191-icon
                                img.img-fluid(src='../assets/images/features.png' alt='Image')
                            h3 A team of professionals
                            p
                                | Our employees are experienced competent specialists in the field of travel services!

                    .col-md-6.col-lg-4.mb-5(data-aos='fade-up' data-aos-delay='100')
                        .media-29191.text-center.h-100
                            .media-29191-icon
                                img.img-fluid(src='../assets/images/features.png' alt='Image')
                            h3 Wide range of offers
                            p
                                | We are ready to offer our clients unlimited possibilities for any travel, whether it be a business trip or a family vacation.

                    .col-md-6.col-lg-4.mb-5(data-aos='fade-up' data-aos-delay='200')
                        .media-29191.text-center.h-100
                            .media-29191-icon
                                img.img-fluid(src='../assets/images/features.png' alt='Image')
                            h3 The best prices
                            p
                                | We want each of you to be able to have a quality rest, with maximum comfort and with the benefit of your wallet.

                    .col-md-6.col-lg-4.mb-5(data-aos='fade-up' data-aos-delay='200')
                        .media-29191.text-center.h-100
                            .media-29191-icon
                                img.img-fluid(src='../assets/images/features.png' alt='Image')
                            h3 Individual approach
                            p
                                | When organizing any tour, we always strive to find an individual approach to each client.

                    .col-md-6.col-lg-4.mb-5(data-aos='fade-up' data-aos-delay='100')
                        .media-29191.text-center.h-100
                            .media-29191-icon
                                img.img-fluid(src='../assets/images/features.png' alt='Image')
                            h3 Promptness
                            p
                                | All applications are processed depending on the complexity of the request: from 15 minutes to 2-3 hours.

                    .col-md-6.col-lg-4.mb-5(data-aos='fade-up' data-aos-delay='200')
                        .media-29191.text-center.h-100
                            .media-29191-icon
                                img.img-fluid(src='../assets/images/features.png' alt='Image')
                            h3 Quality control
                            p
                                | Everything is important for us - the quality of the work of managers with clients, the talent and professionalism of the guides, the safety and comfort of transport.

        .oriental--site-section.py-5.bg-body-darker.cta
            .container
                .row
                    .col-12.text-center
                        h3.m-0.p-0 If you have any special requests, call us.
                        a(href='tel:+998915592322') +998 (91) 559-23-22