---
link_uz: /uz/about.html
link_en: /en/about.html
title: О нас – OrientalRoadTour.uz
page: about
---
extends includes/_page

block main

    main.oriental--site-main

        .oriental--site-hero.inner-page.bg-light(style="background-image: url('assets/images/about_1.jpg')")

            .container
                .row.align-items-center

                    .col-md-9
                        .site-hero-contents(data-aos='fade-up')
                            h1.hero-heading Oriental Road Tour
                            .sub-text.w-75
                                p
                                    | Мы всегда стремимся к лучшему!

        .oriental--site-section

            .container-fluid.px-md-0
                .row.justify-content-center.text-center.pt-0.pb-5

                    .col-lg-6.section-heading(data-aos='fade-up')
                        h3.text-center О нас

                .row.no-gutters

                    .col-md-4(data-aos='fade-up')
                        img.img-fluid(src='assets/images/about_2.jpg' alt='Image' data-jarallax-element='-140')

                    .col-md-8
                        .row.justify-content-center
                            .col-md-10
                                h3.mb-4(data-aos='fade-up') Oriental Road Tour
                                .row
                                    .col-md-12(data-aos='fade-up')
                                        p Мы - ведущая туристическая компания класса люкс, специализирующаяся на эксклюзивных индивидуальных турах по Центральной Азии и всему миру.
                                          | Наши туры являются частными и высоко персонализированными, созданы для взыскательных путешественников, которые ожидают высочайшего уровня роскоши, сервиса и внимания к деталям с момента, когда вы начинаете планировать свою поездку, до дня, когда вы возвращаетесь домой. Тур является гибким, с вашим собственным экспертом и водителем в каждом пункте назначения, и каждый день адаптируется к вашим личным интересам, графику, уровню энергии и предпочтениям путешествия.

        .oriental--site-section.pt-0

            .container
                .row.justify-content-center

                    .col-md-9
                        .row.mb-5.align-items-center

                            .col-md-5.mr-auto
                                h2.display-4 Туры по Узбекистану

                            .col-md-7.ml-auto
                                p Мы осуществляем свою деятельность на туристическом рынке и  является гарантией высокого качества обслуживания и услуг по самым приемлемым ценам. Мы предлагаем большой выбор туров: как классических, с посещением всемирно известных городов Узбекистана.
                .row
                    .col-md-12
                        img.img-fluid(src='assets/images/uzb_map.png' alt='Image')
