---
link_uz: /uz/contact.html
link_en: /en/contact.html
title: Контакты – OrientalRoadTour.uz
page: contact
---
extends includes/_page

block main

    main.oriental--site-main

        .oriental--site-hero.inner-page.bg-light(style="background-image: url('assets/images/contact_1.jpg')")

            .container
                .row.align-items-center

                    .col-md-9
                        .site-hero-contents(data-aos='fade-up')
                            h1.hero-heading Контакты
                            .sub-text.w-75
                                p
                                    | Мы всегда на связи!

        .oriental--site-section

            .container
                .row

                    .col-12(data-aos='fade-up')

                        h2.display-4.mb-5 Заполните форму

                    .col-md-6.mb-5.mb-md-0(data-aos='fade-up' data-aos-delay='100')
                        form(action='#')
                            .form-group
                            label(for='name') Ваше имя *
                            input#name.form-control(type='text' required)
                            .form-group
                            label(for='email2') Ваш электронный адрес *
                            input#email2.form-control(type='text' required)
                            .form-group
                            label(for='subject') Тема сообщения
                            input#subject.form-control(type='text')
                            .form-group
                            label(for='message') Сообщение *
                            textarea#message.form-control(name='message' cols='30' rows='10' required)
                            .form-group
                            input.btn.btn-black.px-5.text-white(type='submit' value='Отправить')
                            span.notify-under-btn * Нажимая на кнопку, вы даете согласие на обработку своих персональных данных.

                    .col-md-4.ml-auto(data-aos='fade-up' data-aos-delay='200')
                        .media-29190
                            span.label Электронная почта
                            p
                                a(href='mailto:orientalroadtour@gmail.com') orientalroadtour@gmail.com
                        .media-29190
                            span.label Телефон
                            p
                                a(href='tel:+998915592322') +998 (91) 559-23-22
                        .media-29190
                            span.label Адрес
                            p Узбекистан, г. Самарканд, 140100, Абдурахман Жамий, ул. Амир Шахмурод, 16
                        .media-29190
                            span.label Социальные сети
                            ul.icons-top.icons-dark
                                li
                                    a(href='https://t.me/Orientalroadtour' target='_blank')
                                        span.icon-telegram
                                li
                                    a
                                        span.icon-facebook
                                li
                                    a
                                        span.icon-instagram