---
link_uz: /uz/gallery.html
link_en: /en/gallery.html
title: Галерея – OrientalRoadTour.uz
page: gallery
---
extends includes/_page

block main

    main.oriental--site-main

        .oriental--site-hero.inner-page(style="background-image: url('assets/images/gallery_1.jpg')")

            .container
                .row.align-items-center.justify-content-center
                    .col-md-7.text-center
                        .site-hero-contents(data-aos='fade-up')
                            h1.hero-heading.text-white Галерея

        .oriental--site-section

            .container-fluid.px-0
                .row.justify-content-center.text-center.pt-0.pb-5

                    .col-lg-6.section-heading(data-aos='fade-up')
                        h3.text-center Слайды

                .row.align-items-stretch

                    .col-9.relative(data-aos='fade-up' data-aos-delay='')
                        .owl-carousel.owl-gallery-big
                            .slide-thumb.bg-image(style="background-image: url('assets/images/slide_1.jpg')")
                            .slide-thumb.bg-image(style="background-image: url('assets/images/slide_2.jpg')")
                            .slide-thumb.bg-image(style="background-image: url('assets/images/slide_3.jpg')")
                            .slide-thumb.bg-image(style="background-image: url('assets/images/slide_4.jpg')")

                    .col-3.relative(data-aos='fade-up' data-aos-delay='100')
                        .owl-carousel.owl-gallery-small
                            .slide-thumb.bg-image(style="background-image: url('assets/images/slide_1.jpg')")
                                a(href='#')
                            .slide-thumb.bg-image(style="background-image: url('assets/images/slide_2.jpg')")
                                a(href='#')
                            .slide-thumb.bg-image(style="background-image: url('assets/images/slide_3.jpg')")
                                a(href='#')
                            .slide-thumb.bg-image(style="background-image: url('assets/images/slide_4.jpg')")
                                a(href='#')

        .oriental--site-section

            .container
                .row.justify-content-center.text-center.pt-0.pb-5

                    .col-lg-6.section-heading(data-aos='fade-up')
                        h3.text-center Больше фотографий

                .row.gutter-2

                    .col-md-6(data-aos='fade-up' data-aos-delay='')
                        a(href='assets/images/bukhara_image_1.jpg' data-fancybox='gallery')
                            img.img-fluid(src='assets/images/bukhara_image_1.jpg' alt='Image')

                    .col-md-6(data-aos='fade-up' data-aos-delay='100')
                        a(href='assets/images/slider_2.jpg' data-fancybox='gallery')
                            img.img-fluid(src='assets/images/slider_2.jpg' alt='Image')

                    .col-md-4(data-aos='fade-up' data-aos-delay='100')
                        a(href='assets/images/slider_3.jpg' data-fancybox='gallery')
                            img.img-fluid(src='assets/images/slider_3.jpg' alt='Image')

                    .col-md-4(data-aos='fade-up' data-aos-delay='200')
                        a(href='assets/images/slide_1.jpg' data-fancybox='gallery')
                            img.img-fluid(src='assets/images/slide_1.jpg' alt='Image')

                    .col-md-4(data-aos='fade-up' data-aos-delay='300')
                        a(href='assets/images/img_2_b.jpg' data-fancybox='gallery')
                            img.img-fluid(src='assets/images/img_2_b.jpg' alt='Image')

                    .col-md-6(data-aos='fade-up' data-aos-delay='')
                        a(href='assets/images/slide_3.jpg' data-fancybox='gallery')
                            img.img-fluid(src='assets/images/slide_3.jpg' alt='Image')

                    .col-md-6(data-aos='fade-up' data-aos-delay='100')
                        a(href='assets/images/slide_4.jpg' data-fancybox='gallery')
                            img.img-fluid(src='assets/images/slide_4.jpg' alt='Image')

                    .col-md-4(data-aos='fade-up' data-aos-delay='100')
                        a(href='assets/images/gallery_2.jpg' data-fancybox='gallery')
                            img.img-fluid(src='assets/images/gallery_2.jpg' alt='Image')

                    .col-md-4(data-aos='fade-up' data-aos-delay='100')
                        a(href='assets/images/gallery_3.jpg' data-fancybox='gallery')
                            img.img-fluid(src='assets/images/gallery_3.jpg' alt='Image')

                    .col-md-4(data-aos='fade-up' data-aos-delay='100')
                        a(href='assets/images/gallery_4.jpg' data-fancybox='gallery')
                            img.img-fluid(src='assets/images/gallery_4.jpg' alt='Image')

                    .col-md-4(data-aos='fade-up' data-aos-delay='100')
                        a(href='assets/images/gallery_5.jpg' data-fancybox='gallery')
                            img.img-fluid(src='assets/images/gallery_5.jpg' alt='Image')

                    .col-md-4(data-aos='fade-up' data-aos-delay='100')
                        a(href='assets/images/gallery_6.jpg' data-fancybox='gallery')
                            img.img-fluid(src='assets/images/gallery_6.jpg' alt='Image')

                    .col-md-4(data-aos='fade-up' data-aos-delay='100')
                        a(href='assets/images/gallery_7.jpg' data-fancybox='gallery')
                            img.img-fluid(src='assets/images/gallery_7.jpg' alt='Image')
