---
title: Туроператор Узбекистана – OrientalRoadTour.uz
page: index
---
extends includes/_page

block main

    .oriental--site-main

        .owl-carousel.owl-hero

            .oriental--site-hero.overlay(style="background-image: url('assets/images/slider_1.jpg')")
                .container
                    .row.align-items-center.justify-content-center
                        .col-md-8
                            .site-hero-contents.text-center(data-aos='fade-up')
                                h1.hero-heading Oriental Road Tour
                                .sub-text
                                    p ЭКСКУРСИОННЫЕ ТУРЫ В УЗБЕКИСТАНЕ

            .oriental--site-hero.overlay(style="background-image: url('assets/images/slider_2.jpg')")
                .container
                    .row.align-items-center.justify-content-center
                        .col-md-7
                            .site-hero-contents.text-center(data-aos='fade-up')
                                h1.hero-heading Восточные путешествия по древним городам

            .oriental--site-hero.overlay(style="background-image: url('assets/images/slider_3.jpg')")
                .container
                    .row.align-items-center.justify-content-center
                        .col-md-10
                            .site-hero-contents.text-center(data-aos='fade-up')
                                h1.hero-heading Начните свое приключение вместе с нами!

        .oriental--site-section.float-left.pb-0.featured-rooms

            .container.pt-0.pb-5
                .row.justify-content-center.text-center
                    .col-lg-6.section-heading(data-aos='fade-up')
                        h3.text-center Туры

            .container-fluid.pt-5

                .suite-wrap.overlap-image-1

                    .suite

                        .image-stack

                            .image-stack-item.image-stack-item-top(data-jarallax-element='-50')
                                .overlay
                                img.img-fluid.pic1(src='assets/images/img_1_a.jpg' alt='Image')

                            .image-stack-item.image-stack-item-bottom
                                .overlay
                                img.img-fluid.pic2(src='assets/images/img_1_b.jpg' alt='Image')

                    .suite-contents(data-jarallax-element='50')

                        h2.suite-title Самарканд

                        .suite-excerpt
                            p
                                | Самарканд! Один из древнейших городов мира, колыбель мировой цивилизации, столица древней Согдианы и империи Амира Темура, ровесник Рима, Фив и Афин. «Эдем древнего Востока», «Лик земли», «Жемчужина мусульманского мира» - так именуют Самарканд древние и современные авторы.

                .suite-wrap.overlap-image-2
                    .suite
                        .image-stack
                            .image-stack-item.image-stack-item-top
                                .overlay
                                img.img-fluid.pic1(src='assets/images/img_2_a.jpg' alt='Image')

                            .image-stack-item.image-stack-item-bottom(data-jarallax-element='-50')
                                .overlay
                                img.img-fluid.pic2(src='assets/images/img_2_b.jpg' alt='Image')

                    .suite-contents(data-jarallax-element='50')
                        h2.suite-title Бухара
                        .suite-excerpt.pr-5
                            p
                                | Священная Бухара – именно так почтительно называют узбеки этот славный город. Древнее поверье гласит: на все мусульманские города с неба нисходит благодатный свет, и только над Бухарой он поднимается к небу.


        .oriental--site-section
            .container
                .container.pt-0.pb-5
                    .row.justify-content-center.text-center
                        .col-lg-6.section-heading(data-aos='fade-up')
                            h3.text-center Наши преимущества

                .row.custom-row-02192.align-items-stretch

                    .col-md-6.col-lg-4.mb-5(data-aos='fade-up' data-aos-delay='100')
                        .media-29191.text-center.h-100
                            .media-29191-icon
                                img.img-fluid(src='assets/images/features.png' alt='Image')
                            h3 Коллектив профессионалов
                            p
                                | Наши сотрудники опытные компетентные специалисты в сфере туристических услуг!

                    .col-md-6.col-lg-4.mb-5(data-aos='fade-up' data-aos-delay='100')
                        .media-29191.text-center.h-100
                            .media-29191-icon
                                img.img-fluid(src='assets/images/features.png' alt='Image')
                            h3 Широкий спектр предложений
                            p
                                | Мы готовы предложить нашим клиентам безграничные возможности для любых путешествий, будь то деловая поездка, или отдых семьей.

                    .col-md-6.col-lg-4.mb-5(data-aos='fade-up' data-aos-delay='200')
                        .media-29191.text-center.h-100
                            .media-29191-icon
                                img.img-fluid(src='assets/images/features.png' alt='Image')
                            h3 Лучшие цены
                            p
                                | Нам хочется, чтобы каждый из Вас мог отдохнуть качественно, с максимальным комфортом и с выгодой для Вашего кошелька.

                    .col-md-6.col-lg-4.mb-5(data-aos='fade-up' data-aos-delay='200')
                        .media-29191.text-center.h-100
                            .media-29191-icon
                                img.img-fluid(src='assets/images/features.png' alt='Image')
                            h3 Индивидуальный подход
                            p
                                | Организуя любой тур, мы всегда стремимся найти индивидуальный подход к каждому клиенту.

                    .col-md-6.col-lg-4.mb-5(data-aos='fade-up' data-aos-delay='100')
                        .media-29191.text-center.h-100
                            .media-29191-icon
                                img.img-fluid(src='assets/images/features.png' alt='Image')
                            h3 Оперативность
                            p
                                | Все заявки обрабатываются в зависимости от сложности запроса: от 15 минут до 2-3  часов.

                    .col-md-6.col-lg-4.mb-5(data-aos='fade-up' data-aos-delay='200')
                        .media-29191.text-center.h-100
                            .media-29191-icon
                                img.img-fluid(src='assets/images/features.png' alt='Image')
                            h3 Контроль качества
                            p
                                | Для нас важно все - качество работы менеджеров с клиентами, талант и профессионализм гидов, безопасность и комфорт транспорта.

        .oriental--site-section.py-5.bg-body-darker.cta
            .container
                .row
                    .col-12.text-center
                        h3.m-0.p-0 Если у вас есть особые пожелания, звоните нам.
                        a(href='tel:+998915592322') +998 (91) 559-23-22